<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bank of Simba</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<h1 th:if="${accounts.isEmpty()}">There is no such account!</h1>
<table th:unless="${accounts.isEmpty()}">
    <thead>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Balance</td>
        <td>Type</td>
        <td>King</td>
        <td>Bad/Good</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="account: ${accounts}" th:object="${account}">
        <td th:text="${accountStat.index}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{#numbers.formatDecimal(balance,1,2)}"></td>
        <td th:text="*{animalType}"></td>
        <td th:if="*{king}" th:style="'color: red'">YES</td>
        <td th:unless="*{king}">NO</td>
        <td th:if="*{badOrGood}">Good Guy</td>
        <td th:if="*{!badOrGood}">Bad Guy</td>
    </tr>
    </tbody>
</table>
<form action="/increase/balance" method="post">
    <label for="nameToRaise">Raise balance of:</label>
    <input type="text" id="nameToRaise" name="name" required autofocus>
    <button type="submit">Raise</button>
</form>
<h2>Add new Bank Account:</h2>
<div>
    <form action="/add" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required autofocus><br>
        <label for="balance">Balance:</label>
        <input type="number" id="balance" name="balance" required><br>
        <label for="animalType">Type:</label>
        <input type="text" id="animalType" name="animalType" required><br>
        <label for="isKing">Is King:</label><br>
        <input type="radio" id="isKing" name="isKing" value="true" checked>Yes
        <input type="radio" name="isKing" value="false">No<br>
        <label for="badOrGood">Bad or Good Character?</label><br>
        <input type="radio" id="badOrGood" name="badOrGood" value="true" checked> Good
        <input type="radio" name="badOrGood" value="false"> Bad<br>
        <button type="submit">Add</button>
    </form>
</div>
</body>
</html>